<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainPage.css') }}">
    <title>Main</title>
</head>
<header>
  <h1>Event Tracker</h1>
</header>
<body class="fixed-body">
    <div id="mainPage-info">
        <p><b>Welcome to Event Tracker!</b><br><br>The easy to use platform for your event tracking needs</p>
        <ul>
            <li>Create, update, and track events</li>
            <li>Collect RSVP's</li>
            <li>Easily contact attendees</li>
        </ul>
    </div>
    <div class="homepage-links">
        <form action="/signUp">
            <button type="submit" class="drop-button">Sign Up</button>
        </form>
        <form action="/login">
            <button type="submit" class="drop-button">Login</button>
        </form>
    </div>
    <footer>
        Website by Thomas Sharp
    </footer>
</body>
</html>