<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <title>Main</title>
</head>
<body>
  <h1>Log In</h1>
  <form method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Log in</button>
  </form>
  {% if login_failed %}
    <p>Username or Password was incorrect</p>
  {% endif %}
</body>
</html>