<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Host a New Event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">
</head>
<body>
    <h1>Host a New Event</h1>
    <form action="/createEvent/{{ user_id }}" method="POST">
        <label for="eventName">Event Name:</label>
        <input type="text" id="eventName" name="eventName" required>

        <label for="eventDate">Date:</label>
        <input type="date" id="eventDate" name="eventDate" required>

        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" name="startTime" required>

        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" name="endTime" required>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>

        <label for="description">Event Description:</label>
        <textarea id="description" name="description" rows="4" required></textarea>

        <label>Optional Settings</label>
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="dropdown_arrow"></svg><br>

        <div id="optional-questions" style="display: none;">
            <label for="public" title="If checked, attendees can see the names of other people attending">Public Attendee Info: 
            <input type="checkbox" id="public" name="public" checked> </label>

            <div class="side_div">
                <label for="age_restriction" class="side_label">Age Restriction: </label>
                <input type="number" class="side_text">
            </div>

            <label for="attendence_restriction">Attendence Restriction</label>
            <textarea id="attendence_restriction" name="attendence_restriction" rows="4"></textarea>
        </div>

        <button type="submit">Submit Event</button>
    </form>
    <script src="{{ url_for('static',filename='scripts/newEvent.js') }}"></script>
</body>
</html>