<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <script src="{{ url_for('static',filename='scripts/form.js') }}"></script>
    <title>Main</title>
</head>
<header>
  <h1>Create an Account</h1>
  <nav class="navlinks">
    <a href='/login'>Login</a>
    <a href='/'>Home</a>
  </nav>
</header>
<body class="fixed-body">
  <form method="POST">
    <input type="text" name="username" placeholder="Username">
    <div class="icons">
      <svg class="fa-eye" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"></svg>
    </div>
    <input type="password" class="pass" name="password" placeholder="Password">
    <div class="icons2">
      <svg class="fa-eye" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"></svg>
    </div>
    <input type="password" class="pass2" name="c_password" placeholder="Confirm Password">
    <button type="submit">Create Account</button>
  </form>
  {% if passwords_dont_match %}
    <p>Your password must match</p>
  {% endif %}
  {% if username_taken %}
    <p> The username "{{username}}" is taken</p>
  {% endif %}
  <footer>
    Website by Thomas Sharp
  </footer>
</body>
</html>